<?xml version='1.0' encoding='utf-8'?>
<widget id="com.pushpan.liquor" versionCode="30003" version="3.0.3" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>मदिरा मूल्य सूची</name>
    <description>
        Nepal Liquor Rate List for Wholeseller and Retailer.
    </description>
    <author email="getpushpan@gmail.com" href="http://liquor.pushpan.com.np">
        GC Byapar Kendra
    </author>
    <content src="index.html" />
    <access origin="*" />
    <platform name="android">
        <icon src="res/icon/android/ldpi.png" density="ldpi" />
        <icon src="res/icon/android/mdpi.png" density="mdpi" />
        <icon src="res/icon/android/hdpi.png" density="hdpi" />
        <icon src="res/icon/android/xhdpi.png" density="xhdpi" />
    </platform>
    <preference name="android-targetSdkVersion" value="29" />
    <preference name="android-minSdkVersion" value="16" />
    <gap:plugin name="phonegap-admob" source="npm" />
    <plugin name="cordova-plugin-whitelist" spec="1.3.4" source="npm" />
    <access origin="https://liquor.pushpan.com.np" />
</widget>
