body {
	font-size: .85rem !important;
	padding-top: 5rem;
	padding-bottom: 0.5rem;
}
.dataTables_wrapper .dataTables_filter input {
    width: 85% !important;
}

.dataTables_wrapper .dataTables_filter label {
    width: 100% !important;
}

.dataTables_wrapper .dataTables_length label {
    width: 100% !important;
}
.text-red {
	color: red;
}
.bg-success {
    background-color: #156728 !important;
}
.modal-header {
    padding: .5rem;
    background: #11381a;
    border-bottom: none;
    color: #ead008;
}
.modal-body {
    background: #135422;
    color: #fff;
    font-size: 1.25em;
}
.modal-body a {
    color: #7bedf9;
    text-decoration: underline;
    
}
.modal {
	background: #0a6920;
}
.close {
    
    color: #ead008;
    opacity: 1;
}
.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255,1);
    border-bottom: 1px solid #166128;
}

.navbar-nav li:last-child .nav-link {
    border:none
}

.nav-item.active>a {
    color: rgba(255,255,255,0.5) !important;
}

.navbar-dark .navbar-toggler {
    border: none !important;
}

.navbar {
    padding: .5rem 0 !important;
}

.navbar-collapse {
    background: #054213;
    padding: 0.5rem 1rem;
}

.navbar-brand {
    padding-left: 1rem;
}

.navbar-dark .navbar-toggler {
    padding-right: 1rem !important;
}
.navbar-brand small{
    font-size: 60% !important;
}



